body{
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
  margin: 0;
}
.btn{overflow: hidden;
  border: 1px solid #E6C611;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family:"arial";
  cursor: pointer;
  margin: 10px;
  transition: 0.20s;
  position: relative;
  
  titile{
    background-color: #fff;
    margin: 0;
}
  
